<div class-"container">
    <div class="row position-relative justify-content-md-center">
        <%= image_tag 'naganocake_top.jpg', class:'w-50 h-50' %>
        <div class="col-auto position-absolute bg-light mx-auto my-5 w-60p pb-5p">
            <div class="comment-top">ようこそながのCAKEへ！</br>
            このサイトは、ケーキ販売のECサイトになります。</br>
            会員でない方も商品の閲覧はできますが、</br>
            購入には会員登録が必要になります。</div>
        </div>
    </div>

    <div class="row p-md-3">
      <div class="col-md-3"></div>
      <div class="col-md-9">
        <h4>新着商品</h4>
      </div>
    </div>

    <div class="row positon-relative justify-content-md-center mx-auto my-auto">
        <% @items.last(4).each do |item| %>
         <div class="mx-3">
             <%= link_to public_item_path(item) do %>
              <%= image_tag item.get_image(100,100) %>
             <% end %>
             <div class="row mt-3">
                 <span class="px-3"><%= item.name %></span>
             </div>
             <div class="row mt-1">
                 <span class="Itemprice">¥<%= item.with_tax_price %></span>
             </div>
          </div>
          <% end %>
    </div>
    <!--public/itemsを作成したのちに新着画像表記のコードを記述する-->
</div>
