<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-md-5">
      <h3><%= @customer.last_name %>
      <%= @customer.first_name %>さんの会員詳細</h2>
      <div class="form-group">
        <h5>会員ID</h5>
        <%= @customer.id %>
      </div>
      <div class="form-group">
        <h5>氏名</h5>
        <%= @customer.last_name %>&nbsp;<%= @customer.first_name %>
      </div>
      <div class="form-group">
        <h5>フリガナ</h5>
        <%= @customer.last_name_kana %>&nbsp;<%= @customer.first_name_kana %>
      </div>
      <div class="form-group">
        <h5>郵便番号</h5>
        <%= @customer.postal_code %>
      </div>
      <div class="form-group">
        <h5>住所</h5>
        <%= @customer.address %>
      </div>
      <div class="form-group">
        <h5>電話番号</h5>
        <%= @customer.telephone_number %>
      </div>
      <div class="form-group">
        <h5>メールアドレス</h5>
        <%= @customer.email %>
        </div>
      <div class="form-group">
        <h5>会員ステータス</h5>
        <% if @customer.is_deleted == false %>
         <span>有効</span>
        <% else %>
         <span>退会</span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-auto">
      <%= link_to"編集する", edit_admin_customer_path(@customer.id), class:'btn btn-success' %>
    </div>
    <div class="col-auto">
      <%= link_to"注文履歴一覧を見る", admin_order_path(@customer), class:"btn btn-secondary" %>
    </div>

    <!--</div>-->
    <!--orderコントローラとshowを作成したリンクを掲載-->
  </div>
</div>