<div class="container">
  <h2>配送先登録/一覧</h2>
  <div class="row">
    <%= form_with model: @address, url:public_addresses_path(@customer) do |f| %>
    <div class="form-group">
      <label for="inputpostal_code">郵便番号(ハイフンなし)</label>
      <%= f.text_field :postal_code, autofocus:true, id:'inputpostal_code', placeholder:"0000000" %>
    </div>
    <div class="form-group">
      <label for="inputaddress">住所</label>
      <%= f.text_field :address, autofocus:true, id:'inputaddress', placeholder:'東京都渋谷区代々木神園町0-0' %>
    </div>
    <div class="col-auto">
      <div class="form-group">
        <label for="inputname">宛名</label>
        <%= f.text_field :name, autofocus:true, id:'inputname', placeholder:'令和道子' %>
      </div>
    </div>
    <div class="col-auto">
      <%= f.submit"新規登録" %>
    </div>
    <% end %>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>郵便番号</th>
          <th>住所</th>
          <th>宛名</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= @addresses.each do |address| %>
        <tr>
          <td><%= address.postal_code %></td>
          <td><%= address.address %></td>
          <td><%= address.name %></td>
          <%= link_to"編集する", edit_public_address_path(address) %>
          <%= link_to"削除する", public_addresses_path(address), method: :delete %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
