<div class="container">
  <h2>ログイン</h2>

  <div class="row">
    <h5>会員の方はこちらからログイン</h5>
    <%= form_with model: @customer, url:customer_session_path do |f| %>
    <div class="field">
      <label for="loginemail">メールアドレス</label>
      <!--%= f.label :email %>-->
      <br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <label for="loginpassword">パスワード</label>
      <!--%= f.label :password %>-->
      <br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <div class="actions">
      <%= f.submit "ログイン" %>
    </div>
  </div>
  <% end %>

  <h5>会員登録がお済みでない方</h5>
  <div class="row">
    <%= link_to "こちら", new_customer_registration_path %>
    <%= "から新規登録を行ってください" %>
  </div>
</div>

  <!--% if devise_mapping.rememberable? %>-->
  <!--  <div class="field">-->
  <!--    %= f.check_box :remember_me %>-->
  <!--    %= f.label :remember_me %>-->
  <!--  </div>-->
  <!--% end %>-->



<!--%= render "public/shared/links" %>-->
