<div class="container">
  <div class"row">
    <%= form_with model: @cart_item, url:public_cart_items_path do |f| %>
    <div class="col-auto">
      <%= image_tag @item.get_image(500,500) %>
    </div>
    <div class="col-auto">
      <%= @item.name %>
      <%= @item.introduction %>
      <%= @item.price %>
      <%= f.hidden_field :item_id, :value => @item.id  %>
      <%= f.select :amount,*[1..10] %>
      <%= f.submit"カートに入れる" %>
    <% end %>

  <!--カート機能を実装したのち、個数とカートへ入れるのボタンを作成-->
    </div>
  </div>
</div>